.cartItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    span {
        padding: 5px;
        margin: 10px;
        width: 300px;
    }

    button {
        color: wheat;
        background-color: rgb(219, 231, 231);
        border-radius: 5px;
        color: red;
        height: 30px;

        &:hover {
            background-color: rgba(147, 163, 163, 0.774);
        }
    }
}