.products {
    display: flex;
    flex-direction: column;
    flex: 6;
    //justify-content: center;
    margin-bottom: 20px;
    gap: 20px;


    .btn {
        width: fit-content;
        border: 1px solid black;
        margin: auto;
        color: white;
        background-color: teal;

        &:hover {
            background-color: rgba(0, 128, 128, 0.616);
        }
    }

    .cart {
        border: 1px solid cyan;

    }

}